<article class="main_article">
    <header class="header_form"><h2>The story of me..</h2></header>
    <p>My first computer was a Commodore Vic 20. If you know what that is without Google then we will get along just fine.</p>

    <p>My name is Mark Doucette and I live and work in Canada in the beautiful west coast city of Vancouver. &quot;<i>The most beautiful place on earth</i>&quot;
        some would say and I tend to agree. I've been computing since as long as I can remember but only recently have I decided to try and make a career out of it. I love programming
        and, though I am a relative newcomer to it, I live and breathe learning about programming and all of the technologies that surround it.</p>

    <p>
        Currently I am in the midst of trying to change my career from port services to software developer extraordinaire (hopefully!). I am enrolled at the
        <a href="http://www.bcit.ca/study/programs/5500pdiplt">British Columbia Institute of Technology (BCIT)</a> pursuing the Computer Systems Technology Diploma - Part Time Studies.
        With this study regime I hope to proceed to the next phase of my career and produce great software with great teams.
    </p>

    <p>
        As an avid linux and osx user I like to get my hands dirty tinkering with the command line and setting up servers in order to run the various applications necessary for a full
        development environment. The myriad of help I have obtained from good developer friends, and from the mass of programming resources on the internet, has been incredible. This site is a place to put down my
        thoughts while on this journey and perhaps even contribute to the robust development community along the way.
    </p>
</article>