<article class="main_article_blog">
    <header class="header_form"><h2>Big Nerd Ranch</h2></header>
    <section>

        <p>
            <img src="resources/img/books-obj-c.png" class="article_image" width="100" height="143" alt="Big Nerd Ranch"/><a href="http://www.bignerdranch.com/books">Big Nerd Ranch Books</a> are a series of top of the line
            books from the guys at
            the famously popular “Big Nerd Ranch” programming training centres.
        </p>

        <p>
            It’s hard to pin down just one book to recommend from them but my personal favourite thus far is <a
                href="http://www.bignerdranch.com/book/objective-c_programming_the_big_nerd_ranch_guide_2nd_ed">“Objective-C Programming: The Big Nerd Ranch Guide”</a> by Aaron Hillegass and
            Mikey Ward. This is a great introduction to the Objective-C programming language that is used to write iOS and OS X applications.
        </p>

        <p>
            It starts off with a gentle immersion into to the language from some C Basics
            to all of the goodies in the Objective-C language. Moving on it proceeds to give a couple of nice Xcode project examples and then moves on to some more advanced tips at the end. The style of writing is fun
            and practical while not getting too deep into computer science speak.
        </p>

    </section>
</article>

<article class=" main_article_blog">
    <header class="header_form"><h2>Thinking in Java</h2></header>
    <section>
        <p>
            <img src="resources/img/thinking-java.png" class="article_image" alt="Thinking in Java" width="100" height="132"/> Bruce Eckel’s book “Thinking in Java” has long been a go to for developers wishing to learn and
            master the Java programming language. For me this book has been a blessing on my journey to become a Java ninja.
            While I don’t feel I know Java on a totally elite level yet, I do feel I understand Java a heck of a lot better from reading and referring to this book on a regular basis. It has become my reference as much
            as a how to learn Java book.
        </p>

        <p>
            The book starts of as many do with a general introduction to object oriented programming using the Java programming language, covering OOP concepts such as polymorphism and inheritance, and follows through
            all the way to designing GUI applications in Java. It covers a lot of ground but the reading is relatively easy and interesting along the way.
        </p>

        <p>
            I have bought many other Java books for school and otherwise but keep going back to this book when I am stuck or just curious. Learning any programming language is hard work but books like this are there to
            make the journey much smoother for the beginning Java developer.
        </p>

    </section>
</article>