<article class="main_article">
    <header class="header_form"><h2>Drop me a note</h2></header>
    <p>If you have any questions, regarding me or this site, please feel free to send me a message via the form below.</p>
    <section id="contact">
        <form method="post" action="#">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name.."><br/>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Enter your email.."><br/>
                <label for="message">Message</label>
                <textarea name="message" id="message" wrap="hard" cols="30" placeholder="Tell me something.."></textarea>
                <input type="submit" value="Send Message" id="submitbutton"/>
            </fieldset>
        </form>
    </section>
</article>
