<article class="main_article">
    <header class="header_form"><h2>The goods..</h2></header>
    <p>As I move along towards full developer status I will post any links to projects that I work on from here.</p>

    <h3>BitBucket Projects</h3>
    <ol>
        <li><a href="http://espanol.pmesimulatorexams.com">PMP Exam Simulator - Spanish</a>: This site I help with on contract doing regular content updates and helped with all of the
            i18n for the site.
        </li>
        <li><a href="https://bitbucket.org/mdoucette/fly-fish-log/">Fly Fish Log</a>: This is a Fishing Log Book application I am working on for school and for release to the App Store. It is a work in progress in my
            spare time.
        </li>
        <li><a href="https://bitbucket.org/mdoucette/inventory-management-system">IMS</a>: This is a Java Swing assignment I did while studying Java App development at BCIT (British Columbia Institute of Technology). I
            may take this further as time permits.
        </li>
        <li>
            <a href="https://bitbucket.org/mdoucette/webdev-html_css">BCIT Web Dev</a>: This is a repo of ongoing projects from my courses at BCIT
        </li>
        <li>
            <a href="http://www.whistlerwinterwear.com">Whistler Winter Wear</a>: This is a site that I have performed upgrades and maintenance on over the years.
        </li>

    </ol>
</article>