<article class="main_article">
    <header class="header_form"><h2>Video</h2></header>
    <p>
        I spend a lot of time in class and reading books to learn about programming, but I spend even more time watching
        the plethora of incredible
        tutorial style videos from the myriad of e-education sites that have sprung up over the last 5 years. Below is a
        small sampling of some of my
        favourites
    </p>
    <table id="videos_table">
        <tr>
            <th>Link</th>
            <th>Content</th>
        </tr>
        <tr>
            <td class="first_column"><a href="http://www.lynda.com">Lynda.com</a></td>
            <td>Professional video tutorials site. Paid subscription model. This is one of the go to sites for great
                video tutorials
                covering a very wide range of tech topics from using a Mac to programming Java and almost everything in
                between.
            </td>
        </tr>
        <tr>
            <td class="first_column"><a href="https://www.udemy.com">Udemy</a></td>
            <td>User / Teacher submitted tutorials with tons of content - free and paid model. You take the good with
                the bad here but
                for the most part there is a ton of high quality learning content on this site.
            </td>
        </tr>
        <tr>
            <td class="first_column"><a href="http://www.codeschool.com">Code School</a></td>
            <td>Paid subscription model. This is a site built on learning to code interactively. It is a fantastic way
                to learn as it provides instant feedback as you
                progress through the levels of the courses. What they lack in quantity of courses they more than make up
                for in quality.
            </td>
        </tr>
        <tr>
            <td class="first_column"><a href="http://www.apple.com/education/ipad/itunes-u/">iTunes U</a></td>
            <td>Free education at your fingertips. The iTunes U application for iOS, and also available via the iTunes
                application, offers access
                to courses from some of the most respected educational institutes on the planet. Each of the hundreds of
                universities has essentially
                set up live taping in the lectures for any given course and offers the recordings to the masses through
                the iTunes U interface. This is as
                close as some of us may ever get to attending courses at MIT or Stanford. While you can't get
                educational credits through iTunes you it is
                still as though were right there attending the classes in person. If you love to learn, this is the
                place for you
            </td>
        </tr>
    </table>
</article>